@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.selected-slot {
  background-color: rgba(0, 123, 255, 0.5);
  border: 1px solid #007bff;
}

.owned-slot {
  background-color: #4caf50; /* Vert */
  border-color: #388e3c;
  color: white;
}

