@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  :root {
    --custom-title-size: 80px;
  }
}
body {
  background-image: url("img/201.jpg");
  background-size: 100% 100%; /* Растягивает картинку по ширине и высоте */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение */
  background-attachment: fixed; /* Фиксирует фон */

  margin: 0;
  padding: 0;
}

.selected-slot {
  background-color: rgba(0, 123, 255, 0.5);
  border: 1px solid #007bff;
}

.owned-slot {
  background-color: green; /* Vert */
  border-color: #388e3c;
  color: black;
}

